@import "./var.css";
@import "./header.css";
@import "./body.css";
@import "./store.css";


#ls-monitor {
  height: 100%;
  width: 100%;
  font-size: 13px;
  color: var(--color);
}

#ls-monitor * {
  box-sizing: border-box;
}

#ls-monitor .flex {
  display: flex;
  align-items: center;
}

#ls-monitor .show {
  display: block;
}

#ls-monitor .hide {
  display: none;
}

#ls-monitor .pointer {
  cursor: pointer;
}
