@import "./var.css";
@import "./header.css";
@import "./body.css";


#ls-monitor {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: var(--color);
}

#ls-monitor * {
  box-sizing: border-box;
}

#ls-monitor .flex {
  display: flex;
  align-items: center;
}
