.ls-monitor-store-log {
  font-family: 'Source Code Pro', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', monospace;
}

.ls-monitor-store-log .ls-store-obj-attr {
  color: #337ab7;
  text-decoration: underline;
  cursor: pointer;
}

.ls-monitor-store-log .ls-store-status-block {
  padding: 2px 4px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.ls-monitor-store-log .ls-store-obj-map {
  font-size: 0.8em;
  user-select: none;
  color: hsl(0, 0%, 30%);
}

.ls-monitor-store-log .ls-store-obj-container {
  display: inline-block;
  cursor: pointer;
}



.ls-monitor-store-log .ls-store-indent-content {
  margin-left: 2em;
}


.ls-monitor-store-log .ls-store-obj-key-value {
  display: inline-block;
}
.ls-store-indent-content .add {
  background-color: var(--add-color);
}
.ls-store-indent-content .update {
  background-color: var(--update-color);
}
.ls-store-indent-content .delete {
  background-color: var(--delete-color);
}
