<div id="ls-monitor">
  <div class="ls-monitor-tab flex">
    <div class="ls-monitor-tab-item active">
      <span>埋点</span>
    </div>
    <div class="ls-monitor-tab-item">
      <span>存储</span>
    </div>
  </div>

  <div class="ls-monitor-body">
    <div class="ls-monitor-body-content ls-monitor-point-list"></div>
    <div class="ls-monitor-body-content ls-monitor-store-log" style="display: none">
      <div class="ls-monitor-store-local">
        <div class="ls-title">LOCAL</div>
        <div class="ls-monitor-store-local-content"></div>
      </div>
      <div class="ls-monitor-store-session">
        <div class="ls-title">SESSION</div>
        <div class="ls-monitor-store-session-content"></div>
      </div>
    </div>
  </div>
</div>
